.upload-header {
  background-color: #2d3047;
  height: 560px;
  color: #fff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
}
.header-left p {
  color: #fff !important;
}
.header-left h1 {
  font-size: 24px;
}

.head-sum {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.head-sum-para p {
  margin: 0;
}
.head-sum .img-group {
  width: 60%;
  height: 120px;
  display: flex;
}

.head-sum .img-group div {
  width: 40%;
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
}

.one {
  background-image: url("../../../assets/Rectangle 24.png");
  background-size: 150% !important;
}
.two {
  background-image: url("../../../assets/Rectangle 25.png");
  background-size: 350% !important;
}
.three {
  background-image: url("../../../assets/Rectangle 26.png");
  background-size: 350% !important;
}
.four {
  background-image: url("../../../assets/Rectangle 27.png");
  background-size: 350% !important;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover {
  cursor: pointer;
  border: 2px solid white;
}

.header-left h1 {
  font-size: 24px;
}

.top {
  background-color: #ffe2b1;
  border-radius: 30px;
  color: #2d3047;
  height: 350px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.top_up {
  position: relative;
}
.top_up img {
  width: 10%;
  height: 80%;
}
.top_up p {
  margin: 0;
}

.top_up input {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  opacity: 0;
  cursor: pointer;
}

.top_up label {
  background-color: #2d3047;
  color: #fff;
  padding: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.top button {
  font-size: 20px;
  padding: 12px;
  color: #2d3047;
  border: 2px solid #2d3047;
  display: block;
  margin: 15px auto !important;
  width: 80%;
  cursor: pointer;
  background-color: transparent;
}
#sup {
  position: absolute;
  bottom: 0;
  font-size: 12px !important;
}

#url {
  width: 70%;
  margin: 8px auto;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .header-content {
    flex-direction: row;
  }
  .header-left {
    width: 48%;
  }
  .head-sum {
    flex-direction: row;
    width: 70%;
  }

  .header-left h1 {
    font-size: 48px;
    width: 80%;
  }

  .header-right {
    width: 40%;
  }

  .top button {
    margin: 20px auto !important;
    width: 50%;
  }
}
