.mobile{
    transition:height 1s ease;
}
.mobile-nav-link{
    margin: 12px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.mobile a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: Bai Jamjuree;
    display: block;
    margin: 10px 0;
    font-weight: 500;
}

.mobile-btn{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mobile-btn button{
    cursor: pointer;
    font-size: 18px;
    font-family: Bai Jamjuree;
    border: none;
    font-weight: 500;
}
