.contact-box {
  width: 80%;
  margin: 0 auto 20vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-50px);
}

.contact {
  background-color: #2d3047;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  color: #fff;
  width: 300px;
  height: fit-content;
  margin-bottom: 20px;
}

.contact h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.contact img {
  width: 50%;
  height: 60%;
  margin: auto;
}

.contact p {
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
  text-align: center;
}

#contact-btn{
    display: block;
    width: 50%;
    margin: 50px auto;
    border: 2px solid #2d3047;
    background-color: transparent;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: Bai Jamjuree;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
  .contact-box {
    width: 60%;
    transform: translateY(-50px);
    flex-direction: row;
    margin: 0 auto;
  }

  .contact {
  width: 350px;
  height: 250px;
  margin-bottom: 0px;
}

  .contact h4 {
    font-size: 20px;
  }
  .contact p {
    width: 80%;
    margin: 10px auto;
  }

 #contact-btn{
    width: 30%;
    padding: 15px;
}

}
