.contact-head{
    height: 426px;
    background-color: #FFE2B1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-content{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #2D3047;
}

.head-content h1{
    font-size: 30px;

}

.head-content p{
    margin: 12px auto;
    width: 100%;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
}

@media screen and (min-width:768px) {
    .head-content{
        width: 50%;
    }

    .head-content h1{
    font-size: 36px;
    
}
.head-content p {
    width: 60%;
    font-size: 22px;
}
    
}